* 
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Навигация */
.navigation
{
    left: 0;
    top:0;
    right: 0;
    width: auto;
}

.menu-list
{
    display: none;
}

.nav-list
{
    padding: .5rem 1rem;
    width: auto;
    display:flex;
    justify-content:space-between;
}

.nav-list li
{
    margin: 0 80px;
    margin-top: 4vh;
    font-size: 1.5em;
    list-style-type:none;
}

@media (min-width:1920px)
{
    .nav-list li
    {
        font-size: 2em;
    } 
}

@media(max-width:400px)
{
    .menu-list
    {
        display: flex;
        margin-left: 10em;
        height: 5vh;
        margin-top: 1.5em;
        width: 100%;
    }

    .nav-list
    {
        overflow: hidden;
        transition: .7s;
    }

    .nav-list li
    {
        font-size: 1em;
    } 
}

@keyframes openMenuList
{
    from
    {
        flex-direction: row;
    }
    to
    {
        flex-direction: column;
    }
}

@keyframes closeMenuList
{
    0%
    {
        flex-direction: column;
    }
    
    100%
    {
        flex-direction: row;
    }
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(180deg);
    }
}

@keyframes rotationBack {
    0% {
        transform:rotate(180deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.nav-list a
{
    text-decoration: none;
    color: black;
}

.nav-list a:hover
{
    text-decoration: underline;
    color: blue;
    text-decoration-color: blue;
}

.logo-clone
{
    display: none;
}

.logo
{
    height: 15vh;
}

.bi-list
{
    display: none;
}

/* WEB+mobile+support */
.content
{
    display: flex;
    flex-direction: column;
    width: auto;
}

.btn--text
{
    display: flex;
    position:sticky;
    flex-direction: column;
    margin-top: 40vh;
    z-index: 5;
    top:50vh;
    margin-bottom: 18em;
    min-height: 2em;
    overflow: hidden;
    width: 40%;
}

.development
{
    margin-left: 2rem;
    font-size: 25px;
    font-weight:400;
}

@media (min-width: 1920px)
{
    .development
    {
        font-size: 2em;
    }
}

@media(max-width:400px)
{
    .development
    {
        font-size: 1.4em;
        margin-left: 1em;
    }
}

/* .application
{
    font-size: 15px;
    font-weight:300;
    outline: none;
    border-radius: 20px;
    border: 0px;
    background-color: white;
    height: 2.5rem;
}

.application:hover
{
    cursor: pointer;
    color: white; 
    background-color: blue;
} */

.btn-zayavka
{
    padding: 160px 160px 160px 160px;
    position: sticky;
    margin: -20px 0 0 -120px;
    margin-top: -10rem;
    margin-left: -4rem;
}

@media(min-width:1920px)
{
    .btn-zayavka
    {
        margin: -120px 0 0 -300px;
        margin-top: -10rem;
        margin-left: -4rem;
        margin-bottom: 20rem;
    }
}

 @media(max-width:400px)
{

    .btn--text
    {
        position:sticky;
        margin-top: 40vh;
        top:50vh;
        margin-bottom: 18em;
        min-height: 2em;
        overflow: hidden;
    }

    .btn-zayavka
    {
        /* top: 10rem;
        min-height: 2em; */
        margin-left: -8rem;
    } 
} 

#buttonzaya
{
    text-transform: uppercase;
    border-radius: 100px;
    letter-spacing: 3px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: 250;
    font-size: 20px;
    border: none;
}

@media(min-width: 1920px)
{
    #buttonzaya
    {
        font-size: 2em;
    }
}

@media(max-width:400px)
{ 
    #buttonzaya
    {
        font-size: .7em;
    }
}

/* ФОРМА */
.Forma
{
    display: none;
    width: 65%;
    height: 100vh;
    z-index: -10;
    background-color: black;
    left: auto;
    top:0;
    overflow: hidden;
    position: fixed;
    right: 0;
    overflow-y: auto;
}

.bi-x
{
    color: gray; 
}

@media(min-width:1920px)
{
    .bi-x
    {
        width: 5em;
        height: 5em;
    } 
}

.bi-x:hover
{
    color: white;
    cursor: pointer;
    transition: 0.8s; 
}

.close-btn
{
    display: flex;
    justify-content: right;
    margin-right: 1em;
    margin-top: 1.5em;
}

@keyframes move-left 
{
    0%
    {
        right: -2000px; 
    } 
    100%
    {
        right: 0px;
    }   
}

@keyframes move-right 
{
    0%
    {
        right: 0px; 
    } 
    100%
    {
        right: -2000px;
        display: none;
        z-index: -10;
        animation-fill-mode:forwards;
    }   
}

@media(max-width:400px)
{
    .Forma
    {
        width: 100%;
        height: 200vh;
    }

    .close-btn
    {
        width: 100%;
    }

    .bi-x
    {
        margin-right: 16em;
    }

    @keyframes move-left 
    {
        0%
        {
            left: 500px; 
        } 
        100%
        {
            left: 0px;
        }   
    }
}

.send-application
{
    position: relative;
    color: white;
    font-size: 70px;
    font-weight: 500;
    margin-left: .2em;
    display: flex;
}

.your-name
{
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 60px;
    margin-left: 2em;
    color: white;
}

.your-tel
{
    display: flex;
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 60px;
    margin-left: 2em;
    color: white;
    margin-top: 1em;
}

.your-email
{
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 60px;
    margin-left: 2em;
    color: white;
    margin-top: 1em;
}

.comment
{
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 200px;
    margin-left: 2em;
    color: white;
    margin-top: 1em;
}

.text-area-comment
{
    width: 500px;
    height: 200px;
    background-color: black;
    color: white;
}

@media(min-width:1920px)
{
    .your-name
    {
        height: 2em;
        font-size: 2em;
        margin-left: 1em;
        width: 18em;
    }

    .your-tel
    {
        height: 2em;
        font-size: 2em;
        margin-left: 1em;
        width: 18em;
    }

    .your-email
    {
        height: 2em;
        font-size: 2em;
        margin-left: 1em;
        width: 18em;
    }

    .comment
    {
        height: 2em;
        font-size: 2em;
        margin-left: 1em;
        width: 20em;
        height: 10em;
    }

    .text-area-comment
    {
        width: 20em;
        height: 10em;
    }
}

@media(max-width:400px)
{
    .send-application
    {
        font-size: 2.5em;
    }

    .your-name
    {
        width: 17em;
    }

    .your-tel
    {
        width: 17em;
    }

    .your-email
    {
        width: 17em;
    }

    .comment
    {
        width: 17em;
    }

    .text-area-comment
    {
        width: 17em;
    }
}

.attach-file
{
    margin-left: 2em;
    height: 3.5em;
}

.ssilka-attach-file
{
    color: gray;
    text-decoration: none;
    font-size: 20px;
}

.ssilka-attach-file:hover
{
    transition: .7s;
    cursor: pointer;
    text-decoration: underline;
}

.send-btn
{
    border-radius: 100px;
    letter-spacing: 3px;
    transition: .5s;
    font-weight: 250;
    font-size: 20px;
    border-color: gray;
    margin-left: 10em;
    background-color: black;
    color: gray;
    border-style: solid;
}

.send-btn:hover
{
    cursor: pointer;
    border-color: white;
    color: black;
    background-color: white;
    transition: .5s;
}

@media(min-width:1920px)
{
    .attach-file
    {
        margin-top: 1em;
    }

    .ssilka-attach-file
    {
        font-size: 2em;
    }

    .bi-paperclip
    {
        height: 2.3em;
        width: 2.3em;
        margin-top: -.5em;
    }

    .send-btn
    {
        height: 2em;
        width: 10em;
        font-size: 2em;
        margin-left: 3em;
        margin-top: .5em;
    }
}

@media(max-width:400px)
{
    .send-btn
    {
        margin-left: 4.5em;
    }
}

.void
{
    height: 2em;
}

/* WEB */
.web-sites
{
    margin-left: 200px;
    display: flex;
    align-items: center;
    height: 150vh;
    background-image: url(img/20943505.jpg);
    background-size: cover;
    position: relative;
    margin-top: -50em;
}

.application
{
    text-align: center;
    width: auto;
}

.WEB
{
    font-size: 40px;
    width: 100%;
    text-align: right;
    margin-right: 10px;
}

@media(min-width:1920px)
{
    .WEB
    {
        font-size: 4em;
    }

    .web-sites
    {
        margin-top: -70em;
    }
}

 @media(max-width:400px)
{
    .web-sites
    {
        background-image: url(img/Mobile/WEB.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        margin-left: 0px;
        height: 400px;
    }

    .WEB
    {
        font-size: 1.1em;
    }
} 

/* Mobile */

.mobile
{
    background-image: url(img/App-Development-Illustration-1.jpg);
    background-size: cover;
    font-size: 40px;
    display: flex;
    align-items: center;
    height: 150vh;
    margin-left: 200px;
}

@media(min-width:1920px)
{
    .mobile
    {
        font-size: 1em;
    }
}

@media(max-width:400px)
{
    .mobile
    {
        background-image: url(img/Mobile/Mobile-dev.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        margin-left: 0px;
        height: 400px;
        font-size: 1.1em;
        padding-bottom: 20vh;
    }
} 

/* Support */

.support
{
    font-size: 40px;
    display: flex;
    align-items: center;
    height: 150vh;
    background-image: url(img/Na_Nov_02.jpg);
    background-size: cover;
    margin-left: 250px;
    margin-top: -4em;
}

@media(min-width:1920px)
{
    .support
    {
        font-size: 1em;
    }
}

@media(max-width:400px)
{
    .support
    {
        background-image: url(img/Mobile/Sites\,services\,support.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        margin-left: 0px;
        height: 400px;
        font-size: 1.1em;
        padding-bottom: 20vh;
    }
}

/* О нас (About team) */
.About-team
{
    background-image: url(img/default.svg);
    background-position: center;
    height: 200vh;
}
.SEKL
{
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    color: blue;
}

.project-types
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: blue;
    font-size: 25px;
    font-weight: 300;
}

.text-about-SEKL
{
    font-size: 40px;
    font-weight: 300;
}

.names li
{
    font-size: 40px;
    font-weight: 300;
}

.SEKL-paragrah
{
    color: blue;
    font-size: 40px;
    font-weight: 300;
}

@media(min-width:1920px)
{
    .SEKL-paragrah
    {
        font-size: 40px;
        font-weight: 300;
    }

    .project-types
    {
        font-size: 40px;
        font-weight: 300;
    }
}

@media(max-width:400px)
{
    .About-team
    {
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100vh;
    }

    .text-about-SEKL
    {
        font-size: 1.5em;
        font-weight: 300px;
    }

    .names li
    {
        font-size: 1.5em;
        font-weight: 300px;
    }

    .SEKL-paragrah
    {
        font-weight: 300px;
        font-size: 1.5em;
    }
}

/* Проект */
.Projects
{
    font-size: 60px;
    font-weight: 300;
    height: 100vh;
    text-align: center;
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    padding-top: 1em;
}

.Project
{
    background-image: url(img/stena3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 200vh;
    left: 0;
    right: 0;
}

.coming-soon
{
    font-size: 120px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.308) 6.7px 8px 2px;
}

@media(min-width:1920px)
{
    .Projects
    {
        padding-top: .5em;
    }
}

@media(max-width:400px)
{
    .Project
    {
        height: 50vh;
        background-image: url(img/Mobile/Stena.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .Projects
    {
        height: 25vh;
        font-size: 1.5em;
    }

    .coming-soon
    {
        font-size: 1.2em;
    }
}

/* Услуги */
.services
{
    height: 450vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.services-head
{
    margin-top: 0;
    font-size: 60px;
    font-weight: 300;
    height: 3vh;
    z-index: 2;
}

@media(max-width:1920px)
{
    .services-head
    {
        padding-top: 1em;
    }
}

.services-types
{
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450vh;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

.type-uslug
{
    width: 100%;
    margin-left: 10px;
    height: auto;
    margin-top: 50vh;
}

@media(max-width:400px)
{
    .services
    {
        height: 120vh;
    }

    .services-head
    {
        font-size: 1.5em;
    }

    .services-types
    {
        height: 120vh;
    }
}

.services-web
{
    background-image: url(img/WEB-yslygi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 100px;
}

.one
{
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    margin-top: 50vh;
}

.services-e-commerce
{
    background-image: url(img/E-COMMERCE-yslygi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 150vh;
    display: flex;
    align-items: center;
    font-size: 100px;
}

.two
{
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    margin-top: 50vh;
}

.services-mobile
{
    background-image: url(img/MOBILE-yslygi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 150vh;
    display: flex;
    align-items: center;
    font-size: 100px;
}

#uslugi-mobile
{
    margin-top: 38vh;
}

.three
{
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    margin-top: 38vh;
}

@media(max-width:400px)
{
    .services-web
    {
        height: 35vh;
        background-image: url(img/Mobile/WEB-yslygi.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
    }

    .services-e-commerce
    {
        height: 35vh;
        background-image: url(img/Mobile/E-COMMERCE-yslygi.jpg);
        background-size: contain;
        background-repeat:no-repeat;
    }

    .services-mobile
    {
        height: 35vh;
        background-image: url(img/Mobile/MOBILE-yslygi.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    #uslugi-mobile
    {
        margin-top: 4em;
        font-size: .4em;
        height: 10vh;
        letter-spacing: 1px;
    }

    .type-uslug
    {
        margin-top: 4em;
        font-size: .4em;
        height: 10vh;
        letter-spacing: 1.5px;
    }
    
    .one
    {
        margin-top: 4.6em;
    }

    .two
    {
        margin-top: 4.6em;
    }

    .three
    {
        margin-top: 4.6em;
    }
}

/* Цены */
/* .prices
{
    height: 100vh;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.prices-head
{
    height: 3vh;
}

.prices-types
{
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    text-align: left;
} */

/* Контакты */
.contacts
{
    height: 200vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contacts-head
{
    font-size: 60px;
    font-weight: 300;
    height: 3vh;
}

.contacts-types
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70vh;
    height: 10vh;
    width: 100%;
}

.line
{
    border-left: 6px solid black;
    height: 200px;
    margin-top: -25vh;
}

.data
{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.mail-group
{
    list-style-type: none;
}

@media(min-width:1920px)
{
    .line
    {
        height: 300px;
    }
}

@media(max-width:400px)
{
    .contacts
    {
        height: 75vh;
    }

    .contacts-head
    {
        font-size: 1em;
    }

    .contacts-types
    {
        font-size: .5em;
        margin-top: 25vh;
    }

    .line
    {
        border-left: 4px solid black;
        margin-top: -20vh;
        height: 150px;
    }

    .data
    {
        font-size: .5em;
    }
}

/* Заявка */
.statement
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    color:white;
    background-color: rgb(44, 43, 43);
}

.text-zayavka
{
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    width: 100%;
    margin-left: 2em;
    font-size: 20px;
    letter-spacing: 2px;
}

.text-zayavka1
{
    display: flex;
    flex-direction: row;
}

.name-and-family
{
    border-bottom: 3px gray solid;
    background-color: rgb(44, 43, 43);
    color: gray;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: -.2em;
    margin-left: 1em;
    margin-right: .5em;
    height: 2em;
    text-align: center;
    outline: none;
}

.text-zayavka2
{
    display: flex;
    flex-direction: row;
}

.name-company
{
    border-bottom: 3px gray solid;
    background-color: rgb(44, 43, 43);
    color: gray;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: -.2em;
    margin-right: .5em;
    height: 2em;
    text-align: center;
    outline: none;
}

.text-zayavka3
{
    display: flex;
    flex-direction: row;
}

.tel-company
{
    border-bottom: 3px gray solid;
    background-color: rgb(44, 43, 43);
    color: gray;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: -.2em;
    margin-right: .5em;
    height: 2em;
    text-align: center;
    outline: none;
}

.text-zayavka4
{
    display: flex;
    flex-direction: row;
}

.email-company
{
    border-bottom: 3px gray solid;
    background-color: rgb(44, 43, 43);
    color: gray;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: -.2em;
    margin-right: .5em;
    height: 2em;
    text-align: center;
    outline: none;
    margin-left: 1em;
}

.project-descriptions
{
    border-bottom: 3px gray solid;
    background-color: rgb(44, 43, 43);
    color: gray;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: -.2em;
    margin-right: .5em;
    height: 2em;
    text-align: center;
    outline: none;
    width: 40em;
}

.attach-file-down
{
    width: 100%;
    margin-top: 2em;
}

.text-attach-file
{
    color: gray;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    margin-left: -55em;
}

.text-attach-file:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.send-btn-down
{
    border-radius: 100px;
    letter-spacing: 3px;
    transition: .5s;
    font-weight: 50;
    font-size: 25px;
    border-color: gray;
    margin-left: -45em;
    background-color: rgb(44, 43, 43);
    color: gray;
    border-style: solid;
    margin-top: 1em;
}

.send-btn-down:hover
{
    cursor: pointer;
    border-color: white;
    color: black;
    background-color: white;
    transition: .5s;
}

@media(min-width:1920px)
{
    .text-zayavka
    {
        font-size: 35px;
    }

    .text-attach-file
    {
        font-size: 30px;
        margin-left: -50em;
    }

    .send-btn-down
    {
        margin-left: -43em;
        font-size: 35px;
    }
}

@media(max-width:400px)
{
    .statement
    {
        height: 100vh;
    }

    .text-zayavka
    {
        margin-top: 5vh;
        font-size: 9px;
    }

    .project-descriptions
    {
        width: 25em;
    }

    .name-and-family
    {
        border-bottom: 1px gray solid;
    }

    .name-company
    {
        border-bottom: 1px gray solid;
    }

    .tel-company
    {
        border-bottom: 1px gray solid;
    }

    .email-company
    {
        border-bottom: 1px gray solid;
        width: 8em;
    }

    .project-descriptions
    {
        border-bottom: 1px gray solid; 
    }

    .attach-file-down
    {
        margin-top: 0;
    }

    .text-attach-file
    {
        font-size: 7px;
        margin-left: -40em;
    }

    .bi-paperclip-down
    {
        margin-top: .25em;
        height: 2em;
        width: .5em;
    }

    .send-btn-down
    {
        margin-top: 0;
    }
}