* 
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Навигация */
.navigation
{
    left: 0;
    top:0;
    right: 0;
    width: auto;
    /* background-color: rgba(0, 0, 255, 0.705); */
}

.nav-list
{
padding: .5rem 1rem;
width: auto;
display:flex;
justify-content:space-between;
}

.nav-list li
{
    margin: 0 80px;
    margin-top: 4vh;
    list-style-type:none;
}

.nav-list a
{
    text-decoration: none;
    color: black;
}

.nav-list a:hover
{
    text-decoration: underline;
    color: blue;
    text-decoration-color: blue;
}

.logo
{
    height: 15vh;
}



/* WEB+mobile+support */
.content
{
    display: flex;
    flex-direction: column;
    width: auto;
}

.btn--text
{
    display: flex;
    position:sticky;
    flex-direction: column;
    margin-top: 40vh;
    z-index: 5;
    top:50vh;
    margin-bottom: 18em;
    min-height: 2em;
    overflow: hidden;
    width: 40%;
}

.development
{
    margin-left: 2rem;
    font-size: 25px;
    font-weight:400;
}

/* .application
{
    font-size: 15px;
    font-weight:300;
    outline: none;
    border-radius: 20px;
    border: 0px;
    background-color: white;
    height: 2.5rem;
}

.application:hover
{
    cursor: pointer;
    color: white; 
    background-color: blue;
} */

.btn-zayavka
{
    padding: 160px 160px 160px 160px;
    position: sticky;
    margin: -20px 0 0 -120px;
    margin-top: -10rem;
    margin-left: -4rem;
}

#buttonzaya
{
    text-transform: uppercase;
    border-radius: 100px;
    letter-spacing: 3px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: 250;
    font-size: 20px;
    border: none;
}

/* ФОРМА */
.Forma
{
    display: none;
    width: 65%;
    height: 100vh;
    z-index: -10;
    background-color: black;
    left: auto;
    top:0;
    overflow: hidden;
    position: fixed;
    right: 0;
    overflow-y: auto;
}

.bi-x
{
    color: gray; 
}

.bi-x:hover
{
    color: white;
    cursor: pointer;
    transition: 0.8s; 
}

.close-btn
{
    display: flex;
    justify-content: right;
    margin-right: 1em;
    margin-top: 1.5em;
}

@keyframes move-left 
{
    0%
    {
        right: -2000px; 
    } 
    100%
    {
        right: 0px;
    }   
}

@keyframes move-right 
{
    0%
    {
        right: 0px; 
    } 
    100%
    {
        right: -2000px;
        display: none;
        z-index: -10;
        animation-fill-mode:forwards;
    }   
}

.send-application
{
    position: relative;
    color: white;
    font-size: 70px;
    font-weight: 500;
    margin-left: .2em;
}

.your-name
{
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 60px;
    margin-left: 2em;
    color: white;
}

.your-tel
{
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 60px;
    margin-left: 2em;
    color: white;
    margin-top: 1em;
}

.your-email
{
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 60px;
    margin-left: 2em;
    color: white;
    margin-top: 1em;
}

.your-comment
{
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;
    height: 200px;
    margin-left: 2em;
    color: white;
    margin-top: 1em;
}

.comment
{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 10px;
    min-height: 150px;
    resize: none;
}

.attach-file
{
    margin-left: 2em;
    height: 3.5em;
}

.ssilka-attach-file
{
    color: gray;
    text-decoration: none;
    font-size: 20px;
}

.ssilka-attach-file:hover
{
    transition: .7s;
    cursor: pointer;
    text-decoration: underline;
}

.send-btn
{
    border-radius: 100px;
    letter-spacing: 3px;
    transition: .5s;
    font-weight: 250;
    font-size: 20px;
    border-color: gray;
    margin-left: 10em;
    background-color: black;
    color: gray;
    border-style: solid;
}

.send-btn:hover
{
    cursor: pointer;
    border-color: white;
    color: black;
    background-color: white;
    transition: .5s;
}


.void
{
    height: 2em;
}

/* WEB */
.web-sites
{
    margin-left: 200px;
    display: flex;
    align-items: center;
    height: 150vh;
    background-image: url(img/20943505.jpg);
    background-size: cover;
    position: relative;
    margin-top: -50em;
}

.application
{
    text-align: center;
    width: auto;
}

.WEB
{
    font-size: 40px;
    width: 100%;
    text-align: right;
    margin-right: 10px;
}

/* Mobile */

.mobile
{
    background-image: url(img/App-Development-Illustration-1.jpg);
    background-size: cover;
    font-size: 40px;
    display: flex;
    align-items: center;
    height: 150vh;
    margin-left: 200px;
}

/* Support */

.support
{
    font-size: 40px;
    display: flex;
    align-items: center;
    height: 150vh;
    background-image: url(img/Na_Nov_02.jpg);
    background-size: cover;
    margin-left: 250px;
    margin-top: -4em;
}



/* О нас (About team) */
.About-team
{
    background-image: url(img/default.svg);
    background-position: center;
    height: 200vh;
}
.SEKL
{
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    color: blue;
}

.project-types
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: 300;
}

.SEKL-paragrah
{
    font-size: 40px;
    font-weight: 300;
}

/* Проект */
.Projects
{
    font-size: 60px;
    font-weight: 300;
    height: 100vh;
    text-align: center;
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
}

.Project
{
    background-image: url(img/stena3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 200vh;
    left: 0;
    right: 0;
    /* background-size: 100vh;
    background-size: 100%; */
}

.coming-soon
{
    font-size: 120px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.308) 6.7px 8px 2px;
    /* animation: shadow 3s ease-out 0s; */
}

/* @keyframes shadow
{
    0%
    {
        text-shadow:none;
    }
    25%
    {
        text-shadow: rgba(0, 0, 0, 0.308) 1.165px 2px 0.5px;
    }
    50%
    {
        text-shadow: rgba(0, 0, 0, 0.308) 3.35px 4px 1px;
    }
    100%
    {
        text-shadow: rgba(0, 0, 0, 0.308) 6.7px 8px 2px;
    }
} */

/* Услуги */
.services
{
    height: 450vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.services-head
{
    margin-top: 0;
    font-size: 60px;
    font-weight: 300;
    height: 3vh;
    z-index: 2;
}

.services-types
{
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450vh;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

/* .services-types li
{
    display: flex;
    height: 33.3vh;
    align-items: center;
} */

.type-uslug
{
    width: 100%;
    margin-left: 10px;
    height: auto;
    /* text-align: right; */
    margin-top: 50vh;
}

.services-web
{
    background-image: url(img/WEB-yslygi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 100px;
}

.one
{
    /* font-family:'Goldman', cursive; */
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    /* text-align: right;
    width: 100%; */
    margin-top: 50vh;
}

.services-e-commerce
{
    background-image: url(img/E-COMMERCE-yslygi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 150vh;
    display: flex;
    align-items: center;
    font-size: 100px;
}

.two
{
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    /* text-align: right;
    width: 100%; */
    margin-top: 50vh;
}

.services-mobile
{
    background-image: url(img/MOBILE-yslygi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 150vh;
    display: flex;
    align-items: center;
    font-size: 100px;
}

.three
{
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    /* text-align: right;
    width: 100%; */
    margin-top: 50vh;
}

/* Цены */
/* .prices
{
    height: 100vh;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.prices-head
{
    height: 3vh;
}

.prices-types
{
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    text-align: left;
} */

/* Контакты */
.contacts
{
    height: 200vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contacts-head
{
    font-size: 60px;
    font-weight: 300;
    height: 3vh;
}

.contacts-types
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70vh;
    height: 100%;
    width: 100%;
}

.line
{
    border-left: 6px solid black;
    height: 200px;
    margin-top: -205vh;
}

/* Заявка */
.statement
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-color: gray;
}

.statement-text
{
    margin-top: 50vh;
}



/*  */
/*  */
/*  */
/* СМАРТФОН */
/*  */
/*  */
/*  */

@media(max-width:576px)
{
  
}

/* НАВИГАЦИЯ */

